In [29]:
import pandas as pd
import os

In [30]:
currentDirectory = os.getcwd()
currentDirectory

'C:\\Users\\Sisay\\Desktop'

In [31]:
df1 =pd.read_csv("City Data/2014-01 - Citi Bike trip data.csv")
df2 =pd.read_csv("City Data/2014-02 - Citi Bike trip data.csv")
df3 =pd.read_csv("City Data/2014-03 - Citi Bike trip data.csv")
df4 =pd.read_csv("City Data/2014-04 - Citi Bike trip data.csv")
df5 =pd.read_csv("City Data/2014-05 - Citi Bike trip data.csv")
df6 =pd.read_csv("City Data/2014-06 - Citi Bike trip data.csv")

In [32]:
df_merge = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)
df_merge.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1

In [33]:
df_merge.shape

(3438030, 15)

In [35]:
df_merge.to_csv('City Data/merge.csv')